name: ci

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  docs-verify:
    name: Check that docs are up to date
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run go generate
        run: go generate ./...
      - name: Fail if generated artifacts differ
        run: git diff --quiet --exit-code

  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    env:
      TF_ACC: "1"
      TF_LOG: "info"
      SWO_BASE_URL: ${{ secrets.SWO_BASE_URL }}
      SWO_API_TOKEN: ${{ secrets.SWO_API_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test ./... -v -timeout 240m
