name: ci

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v2.7.1
  build-and-test:
    runs-on: ubuntu-latest
    env:
      TF_ACC: "1"
      TF_LOG: "info"
      SWO_BASE_URL: ${{ secrets.SWO_BASE_URL }}
      SWO_API_TOKEN: ${{ secrets.SWO_API_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test ./... -v -timeout 240m
