name: test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:  ["windows-latest", "ubuntu-latest", "macOS-latest"]
        go:  ["1.19.x", "1.20.x", "1.21.x"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - run: go mod verify
      - run: go vet ./...
      - run: go test ./... -race -vet=off
      - uses: dominikh/staticcheck-action@v1.3.0
        with:
          install-go: false
          cache-key: ${{ matrix.go }}
